<nav class="navbar navbar-absolute" style="background-color: #33cccc;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            <a class="navbar-brand" href="/#/dashboard" style="color:#000099;">GBuddy+</a>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a ui-sref="login.signup" style="color:#000099;">
                                    Home
                                </a>
                </li>
                <li class="">
                    <a ui-sref="login.signin" style="color:#000099;">
                                    About Us
                                </a>
                </li>
                <li class="">
                    <a ui-sref="login.signin" style="color:#000099;">
                                    Contact Us
                                    </a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a ui-sref="login.signup">
                                <i class="material-icons">person_add</i> Register
                            </a>
                </li>
                <li class="">
                    <a ui-sref="login.signin">
                                <i class="material-icons">fingerprint</i> Login
                            </a>
                </li>
            </ul>
        </div>
    </div>
</nav>