<!-- Wrapper-->
<!-- <div id="wrapper"> -->
<!-- Layout to top navigation -->
<div class="wrapper">

    <!-- Navigation -->
    
    <!-- Layout to top navigation -->

    <!-- Page wraper -->


        <div ng-include="'app/components/common/side_navigation.html'"></div>
        <!-- Page wrapper -->
        <!-- <div ng-include="'app/components/common/topnavbar.html'"></div>  -->
        <!-- Layout to top navigation -->
        <div class="main-panel">
                <div ng-include ="'app/components/common/topnavbar.html'"></div>
                <!-- Main view  -->
                <div ui-view></div>
    
    
        </div>



</div>
<!-- End wrapper-->